@charset "UTF-8";

/* 
    em HTML é id    =  em CSS é #
    em HTMl é class = em CSS é .

*/

body {
    background-color: #ADFFC5;
    font-family: Arial, Helvetica, sans-serif
}

h1 {
    color: #308047;
}

h1#principal {
    text-align: center;
    background-color:#578062;
    color: white;
}

h2 {
    color: #4ECC71;
}

.basico {
    color: #208008;
}

.intermediario {
    color: #B30E00;
}

.avancado {
    color: #FF3E2E;
}